.btn-orange-plain {
  padding: 12px 24px;
  background: $orange-brand;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: $paragraph-size;
  transition: all 100ms ease;
  &:hover {
    box-shadow: $box-shadow-dark;
  }
}

.btn-orange-transparent {
  padding: 8px 20px;
  color: $orange-brand;
  border: 1px solid $orange-brand;
  border-radius: 5px;
  font-weight: 400;
  font-size: $paragraph-small-size;
  transition: all 100ms ease;
  opacity: 0.8;
  &:hover {
    box-shadow: $box-shadow-dark;
  }
}

.button-active {
  color: white;
  background: $orange-brand;
  opacity: 1;
}

@media screen and (max-width: $medium) {
  .btn-orange-plain {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 0px;
    text-align: center;
    font-size: 36px;
  }
}
