.btn-orange-plain {
  padding: 12px 24px;
  background: $orange-brand;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: $paragraph-size;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: $box-shadow-hover;
  }
}

.btn-orange-transparent {
  padding: 8px 20px;
  color: $orange-brand;
  border: 1px solid $orange-brand;
  border-radius: 5px;
  font-weight: 400;
  font-size: $paragraph-small-size;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: $box-shadow-hover;
  }
}
