.footer {
  background: $gray-lighter;
  margin-top: 10vh;
  padding-top: 8vh;
  padding-bottom: 16vh;
}

.footer-title {
  font-size: $h3-size;
  font-weight: 600;
  padding-bottom: 32px;
}

.footer-items {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
}

.footer-item-content {
  padding: 16px;
}

.footer-item {
  flex: 0 0 33%;

  .footer-item-feature {
    font-size: $h4-size;
    font-weight: 300;
    padding-bottom: 8px;
  }

  .footer-item-benefit {
    font-size: $paragraph-small-size;
    font-weight: 400;
    color: $gray;
  }
}

#orange {
  color: $orange;
}

#green {
  color: $green;
}

#purple {
  color: $purple;
}

@media screen and (max-width: $medium) {
  .footer-items {
    margin: -32px;
  }

  .footer-item {
    flex: 0 0 100%;

    .footer-item-content {
      padding: 32px;
    }

    .footer-item-feature {
      font-size: $h4-size-mobile;
      // font-weight: 300;
      padding-bottom: 16px;
    }

    .footer-item-benefit {
      font-size: $paragraph-small-size-mobile;
      font-weight: 300;
      // color: $gray;
    }
  }

  .footer-title {
    font-size: $h4-size-mobile;
    font-weight: 500;
    padding-bottom: 64px;
  }
}
