.background-light {
  height: $banner-height;
  background: $orange-brand-lighter;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: $box-shadow;
}

.header {
  min-height: $banner-height-padded;
  padding: $banner-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-title h1 {
  font-size: $title-size;
  font-weight: 700;
}

.header-paragraph p {
  font-size: $paragraph-size;
  color: $gray-dark;
  font-weight: 400;
  line-height: $line-height;
}

// Media queries
@media screen and (max-width: $medium) {
  .header {
    min-height: $banner-height-padded-mobile;
    padding: $banner-padding-mobile;
  }

  .background-light {
    height: $banner-height-mobile;
    background: $orange-brand-lighter;
  }

  .header-title h1 {
    font-size: $title-size-mobile;
  }

  .header-paragraph p {
    font-size: $paragraph-size-mobile;
  }
}
