.header {
  min-height: $banner-height-padded;
  padding: $banner-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-title h1 {
  font-size: 50px;
  font-weight: 600;
}

.header-paragraph p {
  font-size: $paragraph-size;
  color: $gray-dark;
  font-weight: 400;
  line-height: $line-height;
}
