.item {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  transform: translateX(-54px);
  transition: all 250ms ease;
  &:hover {
    transform: translateX(0);
  }

  &:hover img {
    visibility: visible;
  }
}

.item-logo img {
  width: 30px;
  margin-right: 24px;
  visibility: hidden;
  // transform: translateX(-20px);
  // overflow: hidden;
}

.item-name {
  color: $gray-darker;
  font-size: $h4-size;
  font-weight: 700;
  margin-bottom: 6px;
}

.item-description {
  color: $gray;
  font-size: $paragraph-small-size;
  font-weight: 300;
}

@media screen and (max-width: $medium) {
  .item {
    padding-bottom: 48px;
  }

  .item-name {
    font-size: $h4-size-mobile;
    margin-bottom: 12px;
  }

  .item-description {
    font-size: $paragraph-small-size-mobile;
  }
}

