#brand {
  font-weight: 400;
  color: $orange-brand;
  font-size: $h2-size;
}

#caption {
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px;
  color: $gray-light;
}

.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: $banner-height-padded;
  padding: $banner-padding;
  z-index: 1;
}

.sidebar-link {
  cursor: pointer;
  margin: 16px 0;

  a {
    font-weight: 300;
    font-size: $paragraph-small-size;
    color: $gray;
    transition: all 100ms ease;
    &:hover {
      padding-left: 4px;
    }
  }
}

.sidebar-picture img {
  height: 90px;
  border-radius: 50%;
  box-shadow: $box-shadow;
}


// Support queries
@supports not (position: sticky) {
  .sidebar {
    position: fixed;
  }
}


// Media queries
@media (max-width: $tablet) {
  .sidebar {
    min-height: $banner-height-padded-mobile;
    padding: $banner-padding-mobile;
  }
}
