#brand {
  font-weight: 400;
  color: $orange-brand;
  font-size: $h2-size;
}

#caption {
  font-weight: 300;
  margin-top: 5px;
  color: $gray-dark;
}

.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: $banner-height-padded;
  padding: $banner-padding;
}

.sidebar-picture img {
  height: 90px;
  border-radius: 50%;
  box-shadow: $box-shadow;
}

