body {
  margin: 0;
}

.wrapper {
  width: 100%;
  position: relative;
}

.background-light {
  height: 80vh;
  background: $orange-brand-lighter;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}


.sidebar-container {
  flex: 0 0 30%;
}

.sidebar {
  position: sticky;
  top: 0;
}


.content-container {
  flex: 0 0 70%;
  // height:
}
