// Config
@import 'config/dimensions';
@import 'config/colours';
@import 'config/fonts';
@import 'config/utilities';

// Layout
@import 'layouts/container';

// Components
@import 'components/button';
@import 'components/header';
@import 'components/sidebar';
@import 'components/project';
@import 'components/item';
@import 'components/footer';

// Pages
@import 'pages/home';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

