.page-container {
  width: 800px;
  margin: 0 auto;
}

.page-layout {
  display: flex;
}

.left-column {
  flex: 0 0 30%;
}

.right-column {
  flex: 0 0 70%;
}

.section {
  margin-top: 10vh;

  .section-title {
    font-size: $paragraph-small-size;
    font-weight: 100;
    color: $gray;

    span {
      margin-left: 4px;
    }
  }
}


// Media queries
@media screen and (max-width: $large) {
  .page-container {
    width: 750px;
  }
}

@media screen and (max-width: $medium) {
  .page-container {
    width: 700px;
  }

  .left-column {
    flex: 0 0 0%;
    display: none;
  }

  .right-column {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: $small) {
  .page-container {
    width: 550px;
  }

  .left-column {
    flex: 0 0 0%;
    display: none;
  }

  .right-column {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: $extra-small) {
  .page-container {
    width: 500px;
  }

  .left-column {
    flex: 0 0 0%;
    display: none;
  }

  .right-column {
    flex: 0 0 100%;
  }
}
