.container {
  width: 750px;
  margin: 0 auto;
}

.container-layout {
  display: flex;
}



// Media queries
// @media (max-height: 950px) {
//   .container {
//     width: 700px;
//     background: blue;
//   }
// }
