$orange-brand: rgba(253, 172, 50, 1);
$orange-brand-light: rgba(255, 241, 208, 0.50);
$orange-brand-lighter: rgba(255, 241, 208, 0.15);

$gray-darker: #020300;
$gray-dark: #66666E;
$gray: #9999A1;
$gray-light: #D8D6D6;
$gray-lighter: #FFF9F9;

$box-shadow: 0 0 16px rgba(216, 214, 214, 0.3);
$box-shadow-hover: 0 0 16px rgba(216, 214, 214, 0.4);

$orange: #F7B500;
$green: #44D7B6;
$purple: #6236FF;
