// Media queries
// $desktop: 1000px;
$large: 1200px;
$medium: 992px;
$small: 768px;
$extra-small: 576px;

// Banner dimensions
$banner-padding: 8vh 0;
$banner-height: 85vh;
$banner-height-padded: calc(85vh - 16vh);

// Banner dimensions mobile
$banner-padding-mobile: 10vh 0;
$banner-height-mobile: 95vh;
$banner-height-padded-mobile: calc(95vh - 20vh);
