// Importing Lato
// https://fonts.google.com/specimen/Lato
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body {
  font-family: "Lato";
  color: $gray-darker;
  letter-spacing: .01rem;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none !important;
  letter-spacing: .02rem;
}

$h1-size: 28px;
$h2-size: 24px;
$h3-size: 20px;
$paragraph-size: 16px;
$paragraph-small-size: 14px;

$line-height: 1.6;
