// Importing Lato
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body {
  font-family: "Lato";
}

h1, h2, h3, h4, p {
  margin: 0;
}

$h1-size: 40px;
$h2-size: 24px;
$h3-size: 20px;
$paragraph-size: 16px;
$paragraph-small-size: 14px;
