// Importing Lato
// https://fonts.google.com/specimen/Lato
// @import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

// https://fonts.google.com/specimen/Nunito
@import url('https://fonts.googleapis.com/css?family=Nunito:100:200,300,400,600,700,800');



body {
  font-family: "Nunito";
  color: $gray-darker;
  letter-spacing: .01rem;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none !important;
  letter-spacing: .01rem;
}

// Font sizes
$title-size: 48px;
$h2-size: 24px;
$h3-size: 20px;
$h4-size: 18px;
$paragraph-size: 16px;
$paragraph-small-size: 14px;

// Font sizes mobile
$title-size-mobile: 70px;
$h2-size-mobile: 48px;
$h3-size-mobile: 44px;
$h4-size-mobile: 38px;
$paragraph-size-mobile: 30px;
$paragraph-small-size-mobile: 26px;

$line-height: 1.7;
